* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Kumbh Sans";
    box-sizing: border-box;
}

body {
    background-color: #fefefe;
}

header {
    width: 100%;
    height: 80px;
    background: #363636;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fb8904;
    text-decoration: none;
}


.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #0066ff;
    background: #fefefe;
}

.nav-bar ul li a.active {
    color: #0066ff;
    background: #fefefe;
}

.nav-bar ul li a.connect {
    color: #fefefe;
    background: #0066ff;
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50 px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30 px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #363636;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}

/* Première section CSS */
.main {
    background-color: #fefefe;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between; /* Cela va éloigner le texte des images */
    margin: 0 auto;
    height: 90vh;
    background-color: #fefefe;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    gap: 50px;
    padding-left: 20px;
    margin-left: 160px;
}

.main_content {
    margin-right: 20px;
}

.main_content h2 {
    font-size: 3rem;
}

.main_content p {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.main_btn {
    font-size: 1rem;
    color: #0066ff;
    background-color: #fefefe;
    padding: 14px 32px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main_btn a {
    position: relative;
    z-index: 2;
    color: #0066ff;
    text-decoration: none;
}

#main_img {
    max-width: 100%;
    margin-left: 140px;
}

@media screen and (max-width: 900px) {
    .main_container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main_content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main_content h2 {
        font-size: 3rem;
    }

    .main_content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    #main_img {
        height: 50%;
        width: 100%;
    }
}

@media only screen and (max-width: 1320px) and (min-width:900px ) {
    #main_img {
        height: 30%;
        width: 100%;
    }
}


/* Lessons CSS */

.lessons-section {
    width: 100%;
    padding-bottom: 50px;
}

.lessons-section h1 {
    text-align: center;
    padding: 25px 0px;
}

.lessons-container {
    width: 1170px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    /* border: 1px solid #0066ff; */
}

.lessons-items {
    flex-basis: 23%;
    margin: 10px 0px; 
    text-align: center;
    padding: 20px 0px;
    background: white;
    box-shadow: 0px 0px 10px 3px lightgrey;
    border: none;
    border-radius: 10px;
}

.lessons-items h3 {
    padding: 10px 0px;
}

.lessons-items p {
    font-size: 13px;
    padding: 10px;
}

.lessons-items a {
    color: white;
}

.lessons-items button {
    background: #0066ff;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    margin: 10px 0px;
    color: white;
}

.lessons-items:hover {
    background: #0066ff;
}

.lessons-items:hover h3, .lessons-items:hover p {
    color: white;
}

.lessons-items:hover button, .lessons-items:hover a {
    background: white;
    color: #0066ff;
}

@media screen and (max-width: 1200px) {
    .lessons-container {
        width: 100%;
        flex-direction: column;
    }

    .lessons-items {
        margin: 10px;
    }
}

.container {
    display: flex;
    flex-direction: column; /* Place les éléments en colonne */
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.warning {
    max-width: 20%;
    height: auto;
}


.survie {
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}


/* Login & Register CSS */

.form-body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0066ff;
}


.form-container {
    position: relative;
    max-width: 430px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.form-container .forms {
    padding: 30px;
}

.form-container .forms .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.forms .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #0066ff;
    border-radius: 25px;
}

.forms .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 35px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color: #0066ff;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
}

.input-field input:is(:focus, :valid) ~ i {
    color: #0066ff;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.forms .forgot-text {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.forms .text {
    color: #333;
    font-size: 14px;
}

.forms a {
    text-decoration: none;
}

.forms a.text {
    color: #0066ff;
    text-decoration: none;
}

.forms a:hover {
    text-decoration: underline;
}

.forms .button {
    margin-top: 35px;
}

.forms .button input {
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;
    background-color: #0066ff;
    cursor: pointer;
}

.button input:hover{
    background-color: #265df2;
}

.login-signup {
    margin-top: 30px;
    text-align: center;
}

/* Survie CSS */

.survie-container {
    display: flex;
    justify-content: space-around;
}

.card {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 860px;
}


#rulesCard {
    background-color: #ffffff;
    margin-right: 10px;
    flex: 1;
}

#rulesCard h1 {
    margin-top: 20px;
    margin-bottom: 100px;
}

#rulesCard p {
    margin-bottom: 150px;
    padding: 0 50px 0 50px;
}

#playCard {
    background-color: #ffffff;
    margin-left: 10px;
    flex: 2;
}

img {
    margin-top: 40px;
    max-width: 80%;
    height: auto;
}

.survie-container button {
    background: #0066ff;
    padding: 15px 150px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    margin: 150px auto;
    color: white;
    display: block;
    width: auto;
    text-align: center; 
}

.survie-container button:hover {
    background: #265df2;
}

.survie-container button a {
    color: white;
    text-decoration: none;
}

.survie-container button a:visited {
    color: white;
}

.survie-container button a:hover {
    color: white;
}

@media only screen and (max-width: 900px) {
    .survie-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        height: auto;
        margin: 10px 0;
    }

    #playCard img {
        max-width: 100%;
    }

    .survie-container button {
        padding: 10px 20px;
        font-size: 18px;
        margin: 20px auto;
    }
}

@media only screen and (max-width: 600px) {
    header {
        padding: 0 20px;
    }

    .logo {
        font-size: 24px;
    }

    .nav-bar ul li a {
        font-size: 18px;
        padding: 10px 20px;
    }

    #rulesCard p, #playCard p {
        padding: 0 20px;
    }

    .survie-container button {
        padding: 10px 20px;
        font-size: 16px;
    }
}

/* Footer CSS */

.footer {
    width: 100%;
    background-color: #363636;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.footer-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-link {
    color: white;
    text-decoration: none;
}


/* Profil CSS */
.mainProfil-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.profil-container {
    flex-basis: 40%;
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 20px; 
    box-sizing: border-box;
}

.profile-card {
    width: 100%;
    max-width: 2000px;
    height: auto;
    min-height: 88vh;
    margin: auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: white;
}

.profile-card img.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 140px;
}

.profile-card h1 {
    margin-bottom: 20px;
}

.profile-card p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.profile-card a {
    display: inline-block;
    width: auto;
    max-width: 200px;
    margin: 10px auto;
    padding: 12px 20px;
    background-color: #0066ff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    text-align: center;
}

.profile-card a:hover {
    background-color: #265df2;
}

.scores-container {
    flex-basis: 55%;
    max-width: 55%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 20px;
    box-sizing: border-box;
}

.scores-container h2 {
    margin-bottom: 20px;
}

.scores-container table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.scores-container th,
.scores-container td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Style pour rendre responsive */
@media only screen and (max-width: 900px) {
    .main-container {
        flex-direction: column;
    }
    
    .profil-container,
    .scores-container {
        flex-basis: 100%;
        max-width: 100%;
    }
}


/* About Section */
.about-section {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.about-section h1,
.about-items h3 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.about-section p {
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.about-items {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 300px;
}

/* Liens */
.about-container a {
    color: #333;
    text-decoration: none;
}

.about-container a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }
}
